In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
df=pd.read_csv('V.csv')
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-08-18,235.580002,239.050003,235.300003,238.169998,236.309586,4344800
1,2023-08-21,239.380005,240.529999,237.759995,239.460007,237.589523,3573600
2,2023-08-22,240.000000,241.429993,238.669998,240.570007,238.690857,3848700
3,2023-08-23,241.320007,242.539993,240.720001,242.300003,240.407349,4947700
4,2023-08-24,242.250000,243.559998,239.360001,239.470001,237.599426,4570700
5,2023-08-25,241.380005,243.410004,240.210007,242.570007,240.675232,3541500
6,2023-08-28,243.009995,245.229996,242.600006,243.830002,241.925385,3741500
7,2023-08-29,243.500000,245.830002,243.399994,245.339996,243.423584,3975600
8,2023-08-30,246.419998,248.229996,246.050003,246.229996,244.306641,4573300
9,2023-08-31,245.589996,248.020004,245.449997,245.679993,243.760941,5532600
10,2023-09-01,247.470001,248.869995,246.770004,248.110001,246.171936,4111800
11,2023-09-05,248.350006,248.690002,245.199997,245.339996,243.423584,4459600
12,2023-09-06,245.419998,246.660004,244.210007,246.160004,244.237183,4520300
13,2023-09-07,245.500000,247.399994,245.110001,247.139999,245.209534,4007900
14,2023-09-08,247.789993,248.139999,246.440002,247.289993,245.358353,3309100
15,2023-09-11,247.330002,248.360001,246.270004,247.220001,245.288925,2995800
16,2023-09-12,246.940002,247.759995,246.009995,247.300003,245.368271,3499600
17,2023-09-13,247.149994,250.059998,246.610001,247.830002,245.894150,5657000
18,2023-09-14,245.000000,245.539993,238.750000,241.500000,239.613586,12000000
19,2023-09-15,241.899994,244.100006,240.029999,241.070007,239.186951,13051300

In [6]:
df=pd.read_csv('AIRTELPP.BO.csv')
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2024-08-16,1077.849976,1099.300049,1076.150024,1087.550049,1087.550049,3732

In [8]:
df=pd.read_csv('CVX.csv')
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-08-18,158.380005,161.320007,158.160004,160.899994,155.937485,5998600
1,2023-08-21,161.199997,162.070007,159.449997,160.360001,155.414154,6802300
2,2023-08-22,160.490005,161.250000,158.970001,159.039993,154.134857,6081700
3,2023-08-23,158.139999,159.410004,156.699997,159.250000,154.338394,4975600
4,2023-08-24,157.729996,159.889999,157.559998,157.940002,153.068787,5989600
5,2023-08-25,159.070007,159.910004,157.649994,159.119995,154.212387,5291800
6,2023-08-28,159.529999,161.800003,159.220001,160.210007,155.268784,4386100
7,2023-08-29,160.910004,160.949997,159.100006,159.960007,155.026489,5374800
8,2023-08-30,160.589996,161.250000,159.929993,160.179993,155.239685,5534900
9,2023-08-31,161.009995,161.240005,159.929993,161.100006,156.131332,7003700
10,2023-09-01,162.639999,164.690002,162.639999,164.300003,159.232635,6660400
11,2023-09-05,165.279999,167.559998,165.199997,166.460007,161.326019,9755800
12,2023-09-06,166.279999,167.440002,165.580002,166.630005,161.490768,7195500
13,2023-09-07,167.139999,167.899994,166.279999,166.639999,161.500458,7925900
14,2023-09-08,167.419998,168.490005,166.710007,167.210007,162.052887,7434400
15,2023-09-11,168.080002,168.589996,162.869995,163.759995,158.709274,7155100
16,2023-09-12,165.300003,167.190002,165.100006,166.809998,161.665222,7521100
17,2023-09-13,167.410004,167.750000,165.580002,166.199997,161.074020,5759500
18,2023-09-14,167.699997,168.500000,167.119995,167.229996,162.072266,8822800
19,2023-09-15,166.210007,168.369995,165.880005,166.500000,161.364777,17266500

In [9]:
df=pd.read_csv('GOOGL.csv')
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-08-18,128.509995,129.250000,126.379997,127.459999,127.313881,30491300
1,2023-08-21,127.180000,128.729996,126.559998,128.369995,128.222839,25248700
2,2023-08-22,128.509995,130.279999,128.320007,129.080002,128.932022,22067500
3,2023-08-23,130.179993,133.410004,129.869995,132.369995,132.218246,27819700
4,2023-08-24,133.949997,134.250000,129.570007,129.779999,129.631226,28500700
5,2023-08-25,129.539993,130.759995,127.250000,129.880005,129.731110,26762900
6,2023-08-28,131.309998,132.539993,130.139999,131.009995,130.859802,20543300
7,2023-08-29,132.240005,136.570007,132.240005,134.570007,134.415741,43075600
8,2023-08-30,134.779999,136.279999,134.070007,135.880005,135.724228,28315800
9,2023-08-31,136.009995,138.000000,135.789993,136.169998,136.013901,30053800
10,2023-09-01,137.460007,137.460007,134.850006,135.660004,135.504486,21524600
11,2023-09-05,135.440002,136.419998,134.580002,135.770004,135.614365,19403100
12,2023-09-06,136.020004,136.529999,133.669998,134.460007,134.305862,18684500
13,2023-09-07,133.589996,135.580002,132.949997,135.259995,135.104935,18844300
14,2023-09-08,134.910004,136.660004,134.850006,136.380005,136.223663,23558300
15,2023-09-11,136.539993,137.479996,135.789993,136.919998,136.763031,20763400
16,2023-09-12,136.259995,136.869995,135.190002,135.339996,135.184845,18405500
17,2023-09-13,135.089996,136.899994,134.149994,136.710007,136.553284,20749500
18,2023-09-14,137.600006,138.699997,136.240005,138.100006,137.941696,24751000
19,2023-09-15,137.979996,138.520004,136.479996,137.399994,137.242477,38908400

In [10]:
df=pd.read_csv('HINDUNILVR.BO.csv')
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-08-18,2542.350098,2567.500000,2532.649902,2554.699951,2511.635986,19204.0
1,2023-08-21,2553.649902,2574.600098,2540.000000,2562.500000,2519.304443,14679.0
2,2023-08-22,2552.199951,2574.250000,2552.199951,2566.399902,2523.138672,12391.0
3,2023-08-23,2566.449951,2583.000000,2562.350098,2573.550049,2530.168457,59528.0
4,2023-08-24,2580.000000,2591.000000,2567.000000,2579.699951,2536.214844,22196.0
5,2023-08-25,2575.000000,2580.149902,2553.000000,2567.350098,2524.072998,73842.0
6,2023-08-28,2562.050049,2564.399902,2539.000000,2555.050049,2511.980469,29562.0
7,2023-08-29,2556.149902,2558.149902,2523.000000,2526.250000,2483.665771,17479.0
8,2023-08-30,2527.000000,2536.000000,2520.050049,2532.050049,2489.367920,58076.0
9,2023-08-31,2532.050049,2537.000000,2491.100098,2504.199951,2461.987549,52092.0
10,2023-09-01,2524.949951,2524.949951,2500.050049,2505.000000,2462.773926,20936.0
11,2023-09-04,2505.050049,2512.449951,2492.000000,2501.149902,2458.988770,55090.0
12,2023-09-05,2503.050049,2522.949951,2502.199951,2507.300049,2465.035156,36684.0
13,2023-09-06,2507.350098,2525.149902,2507.350098,2522.050049,2479.536377,47613.0
14,2023-09-07,2513.949951,2520.649902,2499.850098,2507.000000,2464.740234,30445.0
15,2023-09-08,2507.000000,2522.449951,2503.000000,2514.649902,2472.261230,151387.0
16,2023-09-11,2513.000000,2538.000000,2508.750000,2535.600098,2492.858154,78039.0
17,2023-09-12,2545.050049,2546.949951,2488.050049,2499.600098,2457.465088,98645.0
18,2023-09-13,2489.050049,2508.399902,2489.050049,2506.449951,2464.199463,86507.0
19,2023-09-14,2514.949951,2514.949951,2494.000000,2501.500000,2459.333008,76324.0

In [11]:
df=pd.read_csv('MA.csv')
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-08-18,389.820007,393.839996,388.829987,392.170013,389.867798,2001800
1,2023-08-21,393.209991,394.989990,391.019989,393.200012,390.891785,1869400
2,2023-08-22,395.000000,398.769989,393.679993,397.839996,395.504517,2422500
3,2023-08-23,399.269989,401.920013,398.359985,401.059998,398.705597,1943200
4,2023-08-24,401.589996,404.000000,397.500000,397.670013,395.335510,1970000
5,2023-08-25,400.649994,404.619995,399.000000,402.890015,400.524872,2154600
6,2023-08-28,404.000000,407.799988,403.149994,407.440002,405.048187,1901300
7,2023-08-29,407.420013,412.190002,406.589996,411.649994,409.233429,2188800
8,2023-08-30,414.779999,417.779999,413.519989,413.910004,411.480164,2516600
9,2023-08-31,414.209991,416.290009,411.779999,412.640015,410.217621,2535100
10,2023-09-01,413.839996,416.510010,412.489990,415.570007,413.130402,1840600
11,2023-09-05,413.350006,415.399994,409.700012,411.500000,409.084320,2045600
12,2023-09-06,410.779999,413.380005,408.890015,413.179993,410.754456,2292100
13,2023-09-07,411.920013,416.130005,411.730011,414.619995,412.185974,2502700
14,2023-09-08,415.000000,416.329987,413.859985,414.839996,412.404694,1868900
15,2023-09-11,416.850006,417.589996,414.640015,416.690002,414.243866,1544700
16,2023-09-12,415.950012,417.649994,415.250000,416.269989,413.826294,1997600
17,2023-09-13,416.170013,418.410004,414.970001,416.299988,413.856140,2142200
18,2023-09-14,418.299988,418.600006,407.779999,413.339996,410.913513,3557700
19,2023-09-15,411.859985,418.299988,411.140015,414.309998,411.877808,4753800

In [12]:
df=pd.read_csv('RLI.MU.csv')
df.head(20)

          Date       Open       High        Low      Close  Adj Close  Volume
0   2023-08-18  56.400002  56.400002  56.400002  56.400002  56.188122       0
1   2023-08-21  56.400002  56.400002  56.400002  56.400002  56.188122       0
2   2023-08-22  56.400002  56.400002  56.400002  56.400002  56.188122       0
3   2023-08-23  56.400002  56.400002  56.400002  56.400002  56.188122       0
4   2023-08-24  56.400002  56.400002  56.400002  56.400002  56.188122       0
5   2023-08-25  55.599998  55.599998  55.599998  55.599998  55.391121       0
6   2023-08-28  55.599998  55.599998  55.599998  55.599998  55.391121       0
7   2023-08-29  55.200001  55.200001  55.200001  55.200001  54.992626       0
8   2023-08-30  54.599998  54.599998  54.599998  54.599998  54.394878       0
9   2023-08-31  54.400002  54.400002  54.400002  54.400002  54.195633       0
10  2023-09-01  53.599998  53.599998  53.599998  53.599998  53.398636       0
11  2023-09-04  54.000000  54.000000  54.000000  54.000000  53.797134       0
12  2023-09-05  54.000000  54.000000  54.000000  54.000000  53.797134       0
13  2023-09-06  54.200001  54.200001  54.200001  54.200001  53.996384       0
14  2023-09-07  54.200001  54.200001  54.200001  54.200001  53.996384       0
15  2023-09-08  54.200001  54.200001  54.200001  54.200001  53.996384       0
16  2023-09-11  55.000000  55.000000  55.000000  55.000000  54.793377       0
17  2023-09-12  55.200001  55.200001  55.200001  55.200001  54.992626       0
18  2023-09-13  55.200001  55.200001  55.200001  55.200001  54.992626       0
19  2023-09-14  55.200001  55.200001  55.200001  55.200001  54.992626       0

In [13]:
df=pd.read_csv('TITAN.NS.csv')
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-08-18,3070.600098,3079.500000,3035.000000,3050.449951,3040.500977,860782
1,2023-08-21,3051.000000,3082.500000,3050.000000,3078.300049,3068.260254,706621
2,2023-08-22,3084.949951,3091.000000,3040.100098,3075.600098,3065.569092,714220
3,2023-08-23,3075.600098,3085.000000,3056.300049,3070.000000,3059.987305,602197
4,2023-08-24,3075.699951,3099.899902,3056.250000,3061.199951,3051.216064,618626
5,2023-08-25,3055.000000,3074.750000,3037.550049,3067.199951,3057.196533,648003
6,2023-08-28,3074.000000,3079.949951,3040.699951,3048.550049,3038.607422,471698
7,2023-08-29,3051.949951,3090.000000,3044.000000,3079.399902,3069.356689,482639
8,2023-08-30,3080.000000,3111.000000,3067.000000,3082.199951,3072.147461,582766
9,2023-08-31,3090.850098,3118.949951,3082.199951,3104.449951,3094.324951,1420498
10,2023-09-01,3111.949951,3124.899902,3100.000000,3116.800049,3106.634766,423739
11,2023-09-04,3116.949951,3124.949951,3086.300049,3100.300049,3090.188477,539813
12,2023-09-05,3120.000000,3157.500000,3115.000000,3136.149902,3125.921631,721199
13,2023-09-06,3136.149902,3180.550049,3120.850098,3176.050049,3165.691650,1163154
14,2023-09-07,3173.000000,3182.949951,3152.000000,3172.800049,3162.452148,805295
15,2023-09-08,3182.000000,3205.000000,3172.800049,3199.100098,3188.666504,700158
16,2023-09-11,3209.949951,3221.550049,3186.600098,3213.300049,3202.820068,544452
17,2023-09-12,3216.050049,3221.149902,3177.600098,3185.800049,3175.409668,591509
18,2023-09-13,3178.050049,3270.000000,3178.050049,3263.199951,3252.557129,1370306
19,2023-09-14,3277.550049,3302.449951,3240.000000,3261.350098,3250.713379,1264935